<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Favoritos"></Label>
</ActionBar>

<StackLayout class="page__content"  (loaded)="buscarAhora()" #layout>
    <Label class="page__content-icon fas" text="&#xf002;" ></Label>
    <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height: 1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://circulo" class="thumb img-circle"></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 30%" ></Label>
                <Label class="far" text="ver" style="width: 50%; color: orange;" verticalAlignment="center"></Label>
             
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>
