<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Vista Detalle"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
    <Label class="page__content-placeholder" text="Vista Detalle"></Label>
    <image src="res://icon.jpg" rowSpan="2" widht="72" height="72" margin="3" verticalAlignment="top" marginTop="50" ></image>
    <label text="Excelente opción" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="30"></label>
    <label text="Miguel Pérez" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></label>
    <label text="Puntaje 4.3" col="2" row="1" color="#10c2b0" fontSize="14" horizontalAlignment="right" verticalAlignment="bottom" margin="3"></label>

</GridLayout>
<GridLayaout columns="auto, *" rows="auto, 25" verticalAlignment="top" backgroundcolor="lightgray">
</GridLayaout>